<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>automan.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1582,882},{190,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,143}}</string>
                <key>sourceSize</key>
                <string>{190,143}</string>
            </dict>
            <key>bow.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1871,2},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>dog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1176,875}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1176,875}}</string>
                <key>sourceSize</key>
                <string>{1176,875}</string>
            </dict>
            <key>dog_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1905},{100,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,74}}</string>
                <key>sourceSize</key>
                <string>{100,74}</string>
            </dict>
            <key>dog_160.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1905},{160,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,119}}</string>
                <key>sourceSize</key>
                <string>{160,119}</string>
            </dict>
            <key>dog_300.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,879},{300,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,223}}</string>
                <key>sourceSize</key>
                <string>{300,223}</string>
            </dict>
            <key>dog_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,583},{400,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,297}}</string>
                <key>sourceSize</key>
                <string>{400,297}</string>
            </dict>
            <key>dog_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,381},{200,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,148}</string>
            </dict>
            <key>fight.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{204,1905},{200,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,133}}</string>
                <key>sourceSize</key>
                <string>{200,133}</string>
            </dict>
            <key>grass.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,879},{1024,943}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,943}}</string>
                <key>sourceSize</key>
                <string>{1024,943}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1905},{122,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{122,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>home_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2007},{38,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{38,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>man-red-hair.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1871,179},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moto.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1905},{200,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,133}}</string>
                <key>sourceSize</key>
                <string>{200,133}</string>
            </dict>
            <key>scroll1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1180,522},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>superman.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{689,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{689,518}}</string>
                <key>sourceSize</key>
                <string>{689,518}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>complicated.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d95e72d1c79fb3e03d6e29793531684b$</string>
            <key>textureFileName</key>
            <string>complicated.png</string>
        </dict>
    </dict>
</plist>
